* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.pres {
    height: 20%;
    width: 100%;
    background-color: #1E1E2F; /* bleu nuit */
    color: white;
    display: flex;
}