<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <header>
        <div class="pres">
            <p>
                <h1>Site vente en ligne</h1>
            </p>
        </div>
        <nav>
            <ul>
                <li><a href="/" class="bouton_accueil">Accueil</a></li>
                <li><a href="/" class="bouton_login">Se connecter</a></li>
                <li><a href="/" class="bouton_register">S'enregistrer</a></li>
                <li><a href="/" class="bouton_compte">Votre compte</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Site</p>
    </footer>
</body>
</html>