{% extends "base.html" %}

{% block content %}
{% for item in annonce %}
<section class="article_pres">
    <article class="annonce">
        <img src="{{ item.image }}" class="img_article">
        <h2 class="titre_article">{{ item.titre }}</h2>
        <p class="description_article">{{ item.description }}</p>
        <p class="prix_article">{{ item.prix }}</p>
        <p class="auteur_article">Par {{ item.auteur }}</p>
    </article>
</section>
{% else %}
<p class="no-annonce">Aucune annonce pour le moment.</p>
{% endfor %}
{% endblock %}
