{% extends "base.html" %}
{% block content %}

{% if erreur %}
    <p class="publish-error">Erreur : {{ erreur }}</p>
{% endif %}

<div class="publish-container">
    <form method="POST" action="{{ url_for('publish') }}">
        <div>
            <label for="titre_annonce">Titre :</label>
            <input type="text" id="titre_annonce" name="titre_annonce" required>
        </div>

        <div>
            <label for="description_annonce">Description :</label>
            <input type="text" id="description_annonce" name="description_annonce" required>
        </div>

        <div>
            <label for="description_annonce">Prix :</label>
            <input type="text" id="description_annonce" name="description_annonce" required>
        </div>

        <div>
            <label for="description_annonce">Image :</label>
            <input type="text" id="description_annonce" name="description_annonce" required>
        </div>

        <button type="submit">Publier</button>
    </form>
</div>

{% endblock %}
